<%= form_with(model: kit, class: "contents") do |form| %>
  <% if kit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(kit.errors.count, "error") %> prohibited this kit from being saved:</h2>

      <ul>
        <% kit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Libellé du KIT, exple LUNA_001, LUNA_SUNLAND_01A", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :code_barre %>
    <%= form.number_field :code_barre, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "C'est le code inscrit sur le kit", requried: true %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Prix de ce kit", required: true %>
  </div>

  <div class="my-5">
    <%= form.label "puissance (Watt)" %>
    <%= form.number_field :puissance, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Puissance délivrée par la KIT", required: true %>
  </div>

  <div class="my-5">
    <%= form.label "poids (KG)" %>
    <%= form.number_field :poids, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Poids de ce kit", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :couleur %>
    <%= form.color_field :couleur, class: "h-12 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Selectionner la couleur" %>
  </div>

  <div class="my-5">
    <%= form.label :image %>
    <%= form.file_field :image, class: "h-12 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Selectionner l'image", required: true %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
