<div id="<%= dom_id customer %>">

  <tr>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
      <div class="flex items-center">
        <div class="h-10 w-10 flex-shrink-0">
          <%= image_tag "sunland.png", class: "h-10 w-10 rounded-full" %>
        </div>
        <div class="ml-4">
          <div class="font-medium text-gray-900"><%= customer.name %></div>
          <div class="text-gray-500"><%= customer.second_name %></div>
        </div>
      </div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      <div class="text-gray-900"><%= customer.phone1 %></div>
      <div class="text-gray-500"><%= customer.phone2.nil? ? "Aucune" : customer.phone2 %></div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      <div class="text-gray-900"><%= customer.ville %></div>
      <div class="text-gray-500"><%= customer.region %></div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">
        <%= customer.sexe %>
      </span>
    </td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <%= link_to "Afficher ce kit", customer, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Editer ce kit', edit_customer_path(customer), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  </tr>

</div>
