<div id="<%= dom_id code %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cle:</strong>
    <%= code.cle %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Validite:</strong>
    <%= code.validite %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kits:</strong>
    <%= code.kits_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this code", code, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this code', edit_code_path(code), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
