<div id="<%= dom_id abonnement %>">

<style>
  data-title]:hover:after {
      opacity: 1;
      transition: all 0.1s ease 0.5s;
      visibility: visible;
  }
  [data-title]:after {
      content: attr(data-title);
      background-color: #00FF00;
      color: #111;
      font-size: 150%;
      position: absolute;
      padding: 1px 5px 2px 5px;
      bottom: -1.6em;
      left: 100%;
      white-space: nowrap;
      box-shadow: 1px 1px 3px #222222;
      opacity: 0;
      border: 1px solid #111111;
      z-index: 99999;
      visibility: hidden;
  }
  [data-title] {
      position: relative;
  }
</style>

  <tr>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6" data-title="My site" title="Ajouté le : <%= ApplicationHelper.format_date(abonnement.created_at) %>">
      <div class="flex items-center">
        <div class="h-10 w-10 flex-shrink-0">
          <%= image_tag "sunland.png", class: "h-10 w-10 rounded-full" %>
        </div>
        <div class="ml-4">
          <div class="font-medium text-gray-900"><%= "#{abonnement.customer.name} #{abonnement.customer.second_name}" %></div>
          <div class="text-gray-500"><%= link_to abonnement.customer.token, customer_path(abonnement.customer), class: "hover:text-yellow-500" %></div>
        </div>
      </div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      <div class="text-gray-900"><%= abonnement.kit.name %></div>
      <div class="text-gray-500">Optimization</div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">
        <%= abonnement.active? ? "Activé": "Inactivé" %>
      </span>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
      <div class="text-gray-900 mb-2"><%= @percentage = ((abonnement.paiements.sum(:amount).to_f / abonnement.kit.amount.to_f) * 100).round(2)  %>%
      </div>
      <div class="text-gray-500">
        <div class="w-full bg-gray-200 rounded-full">
          <div class="bg-yellow-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full" style="width: <%= @percentage %>%"> <%= "#{@percentage}%" %></div>
        </div>
      </div>
    </td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <%= link_to "Afficher", abonnement, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Editer', edit_abonnement_path(abonnement), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  </tr>

</div>
