<%= form_with(model: abonnement, class: "contents") do |form| %>
  <% if abonnement.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(abonnement.errors.count, "error") %> prohibited this abonnement from being saved:</h2>

      <ul>
        <% abonnement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :customer_id %>
    <%= form.select( :customer_id, Customer.all.collect {|p| [ p.name, p.id ] }, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", prompt: 'Select customer', label: false}) %>
  </div>

  <div class="my-5">
    <%= form.label :kit_id %>
    <%#= form.text_field :kit_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= form.select( :kit_id, Kit.all.collect {|p| [ p.name, p.id ] }, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", prompt: 'Select customer', label: false}) %>
  </div>

  <div class="my-5">
    <%= form.label :active %>
    <%= form.check_box :active, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
